# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
db.sqlite3
*.log

# Environment variables
.env

# Virtual environment
env/
venv/

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Windows files
Thumbs.db